# Ex - GroupBy

### Introduction:

GroupBy can be summarizes as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [27]:
data = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv")
data.index = data.country
data

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,,
Afghanistan,Afghanistan,0,0,0,0.0,AS
Albania,Albania,89,132,54,4.9,EU
Algeria,Algeria,25,0,14,0.7,AF
Andorra,Andorra,245,138,312,12.4,EU
Angola,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
Venezuela,Venezuela,333,100,3,7.7,SA
Vietnam,Vietnam,111,2,1,2.0,AS
Yemen,Yemen,6,0,0,0.1,AS
Zambia,Zambia,32,19,4,2.5,AF
Zimbabwe,Zimbabwe,64,18,4,4.7,AF

### Step 4. Which continent drinks more beer on average?

In [33]:

cont_groupby = data.groupby('continent')
cont_groupby['beer_servings'].mean().idxmax()

'EU'

### Step 5. For each continent print the statistics for wine consumption.

In [41]:
cont_groupby['beer_servings'].agg(['mean', 'std' ,'median'])

                 mean        std  median
continent
AF          61.471698  80.557816    32.0
AS          37.045455  49.469725    17.5
EU         193.777778  99.631569   219.0
OC          89.687500  96.641412    52.5
SA         175.083333  65.242845   162.5

### Step 6. Print the mean alcoohol consumption per continent for every column

In [46]:
cont_groupby['total_litres_of_pure_alcohol'].mean()

AttributeError: 'DataFrameGroupBy' object has no attribute 'loc'

### Step 7. Print the median alcoohol consumption per continent for every column

In [47]:
cont_groupby['total_litres_of_pure_alcohol'].median()

continent
AF     2.30
AS     1.20
EU    10.00
OC     1.75
SA     6.85
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [53]:
df = cont_groupby['spirit_servings'].agg(['mean', 'min' ,'max'])
df

                 mean  min  max
continent
AF          16.339623    0  152
AS          60.840909    0  326
EU         132.555556    0  373
OC          58.437500    0  254
SA         114.750000   25  302